<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/validate2" method="POST">
        <h4> One-time password has been sent to the email id.<br>
             Please check the email for the verification.</h4>
        <label>ENTER OTP</label><br>
        <input type="text" name="otp" placeholder="ENTER THE OTP" required="required" /><br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>